@charset "UTF-8";
@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
* {
  font-family: var(--font-sans); }

/*
  * Definice Media queries
  * (využití formou @include media-xs {} )
  */
[data-theme=dark] .card {
  background-color: rgba(169, 169, 169, 0.219); }

[data-theme=light] .card {
  background-color: #2b304ab5; }

.card {
  border-radius: var(--radius-2);
  padding: var(--size-fluid-3);
  box-shadow: var(--shadow-2);
  position: relative; }
  .card:hover {
    box-shadow: var(--shadow-3); }
  .card p,
  .card h1,
  .card h2,
  .card h3,
  .card h4,
  .card h5,
  .card h6 {
    color: white; }
  .card--animated {
    animation: var(--animation-scale-down) reverse, var(--animation-fade-out) reverse;
    animation-timing-function: var(--ease-squish-5);
    animation-duration: 1s; }
  .card__title {
    text-align: center;
    font-size: var(--font-size-fluid-1);
    font-weight: bold; }

.btn {
  color: white; }
  .btn--solve {
    background: var(--green-7); }
  .btn--run {
    background: var(--green-8); }
  .btn--restart {
    background: var(--red-8); }
  .btn--answered {
    background: var(--green-9); }

@media screen and (max-width: -1px) {
  .hidden-xs-down {
    display: none !important; } }

.hidden-xs-up {
  display: none !important; }

@media screen and (max-width: 575px) {
  .hidden-sm-down {
    display: none !important; } }

@media screen and (min-width: 576px) {
  .hidden-sm-up {
    display: none !important; } }

@media screen and (max-width: 767px) {
  .hidden-md-down {
    display: none !important; } }

@media screen and (min-width: 768px) {
  .hidden-md-up {
    display: none !important; } }

@media screen and (max-width: 991px) {
  .hidden-lg-down {
    display: none !important; } }

@media screen and (min-width: 992px) {
  .hidden-lg-up {
    display: none !important; } }

@media screen and (max-width: 1199px) {
  .hidden-xl-down {
    display: none !important; } }

@media screen and (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important; } }

.grid {
  max-width: 768px;
  margin: 0 auto;
  position: relative; }
  .grid--fluid {
    margin: 0;
    max-width: 100%; }
  .grid__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
    .grid__row:not(:has([class*="grid__col"]:only-child)) [class*="grid__col"] {
      padding: 15px; }
  .grid--center .grid__row {
    justify-content: center; }
  .grid [class*="grid__col"] {
    max-width: 100%; }
  .grid__col-offset-0 {
    margin-left: 0; }
  .grid__col-1 {
    flex-basis: 4.16667%; }
  .grid__col-offset-1 {
    margin-left: 4.16667%; }
  .grid__col-2 {
    flex-basis: 8.33333%; }
  .grid__col-offset-2 {
    margin-left: 8.33333%; }
  .grid__col-3 {
    flex-basis: 12.5%; }
  .grid__col-offset-3 {
    margin-left: 12.5%; }
  .grid__col-4 {
    flex-basis: 16.66667%; }
  .grid__col-offset-4 {
    margin-left: 16.66667%; }
  .grid__col-5 {
    flex-basis: 20.83333%; }
  .grid__col-offset-5 {
    margin-left: 20.83333%; }
  .grid__col-6 {
    flex-basis: 25%; }
  .grid__col-offset-6 {
    margin-left: 25%; }
  .grid__col-7 {
    flex-basis: 29.16667%; }
  .grid__col-offset-7 {
    margin-left: 29.16667%; }
  .grid__col-8 {
    flex-basis: 33.33333%; }
  .grid__col-offset-8 {
    margin-left: 33.33333%; }
  .grid__col-9 {
    flex-basis: 37.5%; }
  .grid__col-offset-9 {
    margin-left: 37.5%; }
  .grid__col-10 {
    flex-basis: 41.66667%; }
  .grid__col-offset-10 {
    margin-left: 41.66667%; }
  .grid__col-11 {
    flex-basis: 45.83333%; }
  .grid__col-offset-11 {
    margin-left: 45.83333%; }
  .grid__col-12 {
    flex-basis: 50%; }
  .grid__col-offset-12 {
    margin-left: 50%; }
  .grid__col-13 {
    flex-basis: 54.16667%; }
  .grid__col-offset-13 {
    margin-left: 54.16667%; }
  .grid__col-14 {
    flex-basis: 58.33333%; }
  .grid__col-offset-14 {
    margin-left: 58.33333%; }
  .grid__col-15 {
    flex-basis: 62.5%; }
  .grid__col-offset-15 {
    margin-left: 62.5%; }
  .grid__col-16 {
    flex-basis: 66.66667%; }
  .grid__col-offset-16 {
    margin-left: 66.66667%; }
  .grid__col-17 {
    flex-basis: 70.83333%; }
  .grid__col-offset-17 {
    margin-left: 70.83333%; }
  .grid__col-18 {
    flex-basis: 75%; }
  .grid__col-offset-18 {
    margin-left: 75%; }
  .grid__col-19 {
    flex-basis: 79.16667%; }
  .grid__col-offset-19 {
    margin-left: 79.16667%; }
  .grid__col-20 {
    flex-basis: 83.33333%; }
  .grid__col-offset-20 {
    margin-left: 83.33333%; }
  .grid__col-21 {
    flex-basis: 87.5%; }
  .grid__col-offset-21 {
    margin-left: 87.5%; }
  .grid__col-22 {
    flex-basis: 91.66667%; }
  .grid__col-offset-22 {
    margin-left: 91.66667%; }
  .grid__col-23 {
    flex-basis: 95.83333%; }
  .grid__col-offset-23 {
    margin-left: 95.83333%; }
  .grid__col-24 {
    flex-basis: 100%; }
  .grid__col-offset-24 {
    margin-left: 100%; }
  @media screen and (min-width: 576px) {
    .grid__col-sm-offset-0 {
      margin-left: 0; }
    .grid__col-sm-1 {
      flex-basis: 4.16667%; }
    .grid__col-sm-offset-1 {
      margin-left: 4.16667%; }
    .grid__col-sm-2 {
      flex-basis: 8.33333%; }
    .grid__col-sm-offset-2 {
      margin-left: 8.33333%; }
    .grid__col-sm-3 {
      flex-basis: 12.5%; }
    .grid__col-sm-offset-3 {
      margin-left: 12.5%; }
    .grid__col-sm-4 {
      flex-basis: 16.66667%; }
    .grid__col-sm-offset-4 {
      margin-left: 16.66667%; }
    .grid__col-sm-5 {
      flex-basis: 20.83333%; }
    .grid__col-sm-offset-5 {
      margin-left: 20.83333%; }
    .grid__col-sm-6 {
      flex-basis: 25%; }
    .grid__col-sm-offset-6 {
      margin-left: 25%; }
    .grid__col-sm-7 {
      flex-basis: 29.16667%; }
    .grid__col-sm-offset-7 {
      margin-left: 29.16667%; }
    .grid__col-sm-8 {
      flex-basis: 33.33333%; }
    .grid__col-sm-offset-8 {
      margin-left: 33.33333%; }
    .grid__col-sm-9 {
      flex-basis: 37.5%; }
    .grid__col-sm-offset-9 {
      margin-left: 37.5%; }
    .grid__col-sm-10 {
      flex-basis: 41.66667%; }
    .grid__col-sm-offset-10 {
      margin-left: 41.66667%; }
    .grid__col-sm-11 {
      flex-basis: 45.83333%; }
    .grid__col-sm-offset-11 {
      margin-left: 45.83333%; }
    .grid__col-sm-12 {
      flex-basis: 50%; }
    .grid__col-sm-offset-12 {
      margin-left: 50%; }
    .grid__col-sm-13 {
      flex-basis: 54.16667%; }
    .grid__col-sm-offset-13 {
      margin-left: 54.16667%; }
    .grid__col-sm-14 {
      flex-basis: 58.33333%; }
    .grid__col-sm-offset-14 {
      margin-left: 58.33333%; }
    .grid__col-sm-15 {
      flex-basis: 62.5%; }
    .grid__col-sm-offset-15 {
      margin-left: 62.5%; }
    .grid__col-sm-16 {
      flex-basis: 66.66667%; }
    .grid__col-sm-offset-16 {
      margin-left: 66.66667%; }
    .grid__col-sm-17 {
      flex-basis: 70.83333%; }
    .grid__col-sm-offset-17 {
      margin-left: 70.83333%; }
    .grid__col-sm-18 {
      flex-basis: 75%; }
    .grid__col-sm-offset-18 {
      margin-left: 75%; }
    .grid__col-sm-19 {
      flex-basis: 79.16667%; }
    .grid__col-sm-offset-19 {
      margin-left: 79.16667%; }
    .grid__col-sm-20 {
      flex-basis: 83.33333%; }
    .grid__col-sm-offset-20 {
      margin-left: 83.33333%; }
    .grid__col-sm-21 {
      flex-basis: 87.5%; }
    .grid__col-sm-offset-21 {
      margin-left: 87.5%; }
    .grid__col-sm-22 {
      flex-basis: 91.66667%; }
    .grid__col-sm-offset-22 {
      margin-left: 91.66667%; }
    .grid__col-sm-23 {
      flex-basis: 95.83333%; }
    .grid__col-sm-offset-23 {
      margin-left: 95.83333%; }
    .grid__col-sm-24 {
      flex-basis: 100%; }
    .grid__col-sm-offset-24 {
      margin-left: 100%; } }
  @media screen and (min-width: 768px) {
    .grid__col-md-offset-0 {
      margin-left: 0; }
    .grid__col-md-1 {
      flex-basis: 4.16667%; }
    .grid__col-md-offset-1 {
      margin-left: 4.16667%; }
    .grid__col-md-2 {
      flex-basis: 8.33333%; }
    .grid__col-md-offset-2 {
      margin-left: 8.33333%; }
    .grid__col-md-3 {
      flex-basis: 12.5%; }
    .grid__col-md-offset-3 {
      margin-left: 12.5%; }
    .grid__col-md-4 {
      flex-basis: 16.66667%; }
    .grid__col-md-offset-4 {
      margin-left: 16.66667%; }
    .grid__col-md-5 {
      flex-basis: 20.83333%; }
    .grid__col-md-offset-5 {
      margin-left: 20.83333%; }
    .grid__col-md-6 {
      flex-basis: 25%; }
    .grid__col-md-offset-6 {
      margin-left: 25%; }
    .grid__col-md-7 {
      flex-basis: 29.16667%; }
    .grid__col-md-offset-7 {
      margin-left: 29.16667%; }
    .grid__col-md-8 {
      flex-basis: 33.33333%; }
    .grid__col-md-offset-8 {
      margin-left: 33.33333%; }
    .grid__col-md-9 {
      flex-basis: 37.5%; }
    .grid__col-md-offset-9 {
      margin-left: 37.5%; }
    .grid__col-md-10 {
      flex-basis: 41.66667%; }
    .grid__col-md-offset-10 {
      margin-left: 41.66667%; }
    .grid__col-md-11 {
      flex-basis: 45.83333%; }
    .grid__col-md-offset-11 {
      margin-left: 45.83333%; }
    .grid__col-md-12 {
      flex-basis: 50%; }
    .grid__col-md-offset-12 {
      margin-left: 50%; }
    .grid__col-md-13 {
      flex-basis: 54.16667%; }
    .grid__col-md-offset-13 {
      margin-left: 54.16667%; }
    .grid__col-md-14 {
      flex-basis: 58.33333%; }
    .grid__col-md-offset-14 {
      margin-left: 58.33333%; }
    .grid__col-md-15 {
      flex-basis: 62.5%; }
    .grid__col-md-offset-15 {
      margin-left: 62.5%; }
    .grid__col-md-16 {
      flex-basis: 66.66667%; }
    .grid__col-md-offset-16 {
      margin-left: 66.66667%; }
    .grid__col-md-17 {
      flex-basis: 70.83333%; }
    .grid__col-md-offset-17 {
      margin-left: 70.83333%; }
    .grid__col-md-18 {
      flex-basis: 75%; }
    .grid__col-md-offset-18 {
      margin-left: 75%; }
    .grid__col-md-19 {
      flex-basis: 79.16667%; }
    .grid__col-md-offset-19 {
      margin-left: 79.16667%; }
    .grid__col-md-20 {
      flex-basis: 83.33333%; }
    .grid__col-md-offset-20 {
      margin-left: 83.33333%; }
    .grid__col-md-21 {
      flex-basis: 87.5%; }
    .grid__col-md-offset-21 {
      margin-left: 87.5%; }
    .grid__col-md-22 {
      flex-basis: 91.66667%; }
    .grid__col-md-offset-22 {
      margin-left: 91.66667%; }
    .grid__col-md-23 {
      flex-basis: 95.83333%; }
    .grid__col-md-offset-23 {
      margin-left: 95.83333%; }
    .grid__col-md-24 {
      flex-basis: 100%; }
    .grid__col-md-offset-24 {
      margin-left: 100%; } }
  @media screen and (min-width: 992px) {
    .grid__col-lg-offset-0 {
      margin-left: 0; }
    .grid__col-lg-1 {
      flex-basis: 4.16667%; }
    .grid__col-lg-offset-1 {
      margin-left: 4.16667%; }
    .grid__col-lg-2 {
      flex-basis: 8.33333%; }
    .grid__col-lg-offset-2 {
      margin-left: 8.33333%; }
    .grid__col-lg-3 {
      flex-basis: 12.5%; }
    .grid__col-lg-offset-3 {
      margin-left: 12.5%; }
    .grid__col-lg-4 {
      flex-basis: 16.66667%; }
    .grid__col-lg-offset-4 {
      margin-left: 16.66667%; }
    .grid__col-lg-5 {
      flex-basis: 20.83333%; }
    .grid__col-lg-offset-5 {
      margin-left: 20.83333%; }
    .grid__col-lg-6 {
      flex-basis: 25%; }
    .grid__col-lg-offset-6 {
      margin-left: 25%; }
    .grid__col-lg-7 {
      flex-basis: 29.16667%; }
    .grid__col-lg-offset-7 {
      margin-left: 29.16667%; }
    .grid__col-lg-8 {
      flex-basis: 33.33333%; }
    .grid__col-lg-offset-8 {
      margin-left: 33.33333%; }
    .grid__col-lg-9 {
      flex-basis: 37.5%; }
    .grid__col-lg-offset-9 {
      margin-left: 37.5%; }
    .grid__col-lg-10 {
      flex-basis: 41.66667%; }
    .grid__col-lg-offset-10 {
      margin-left: 41.66667%; }
    .grid__col-lg-11 {
      flex-basis: 45.83333%; }
    .grid__col-lg-offset-11 {
      margin-left: 45.83333%; }
    .grid__col-lg-12 {
      flex-basis: 50%; }
    .grid__col-lg-offset-12 {
      margin-left: 50%; }
    .grid__col-lg-13 {
      flex-basis: 54.16667%; }
    .grid__col-lg-offset-13 {
      margin-left: 54.16667%; }
    .grid__col-lg-14 {
      flex-basis: 58.33333%; }
    .grid__col-lg-offset-14 {
      margin-left: 58.33333%; }
    .grid__col-lg-15 {
      flex-basis: 62.5%; }
    .grid__col-lg-offset-15 {
      margin-left: 62.5%; }
    .grid__col-lg-16 {
      flex-basis: 66.66667%; }
    .grid__col-lg-offset-16 {
      margin-left: 66.66667%; }
    .grid__col-lg-17 {
      flex-basis: 70.83333%; }
    .grid__col-lg-offset-17 {
      margin-left: 70.83333%; }
    .grid__col-lg-18 {
      flex-basis: 75%; }
    .grid__col-lg-offset-18 {
      margin-left: 75%; }
    .grid__col-lg-19 {
      flex-basis: 79.16667%; }
    .grid__col-lg-offset-19 {
      margin-left: 79.16667%; }
    .grid__col-lg-20 {
      flex-basis: 83.33333%; }
    .grid__col-lg-offset-20 {
      margin-left: 83.33333%; }
    .grid__col-lg-21 {
      flex-basis: 87.5%; }
    .grid__col-lg-offset-21 {
      margin-left: 87.5%; }
    .grid__col-lg-22 {
      flex-basis: 91.66667%; }
    .grid__col-lg-offset-22 {
      margin-left: 91.66667%; }
    .grid__col-lg-23 {
      flex-basis: 95.83333%; }
    .grid__col-lg-offset-23 {
      margin-left: 95.83333%; }
    .grid__col-lg-24 {
      flex-basis: 100%; }
    .grid__col-lg-offset-24 {
      margin-left: 100%; } }
  @media screen and (min-width: 1200px) {
    .grid__col-xl-offset-0 {
      margin-left: 0; }
    .grid__col-xl-1 {
      flex-basis: 4.16667%; }
    .grid__col-xl-offset-1 {
      margin-left: 4.16667%; }
    .grid__col-xl-2 {
      flex-basis: 8.33333%; }
    .grid__col-xl-offset-2 {
      margin-left: 8.33333%; }
    .grid__col-xl-3 {
      flex-basis: 12.5%; }
    .grid__col-xl-offset-3 {
      margin-left: 12.5%; }
    .grid__col-xl-4 {
      flex-basis: 16.66667%; }
    .grid__col-xl-offset-4 {
      margin-left: 16.66667%; }
    .grid__col-xl-5 {
      flex-basis: 20.83333%; }
    .grid__col-xl-offset-5 {
      margin-left: 20.83333%; }
    .grid__col-xl-6 {
      flex-basis: 25%; }
    .grid__col-xl-offset-6 {
      margin-left: 25%; }
    .grid__col-xl-7 {
      flex-basis: 29.16667%; }
    .grid__col-xl-offset-7 {
      margin-left: 29.16667%; }
    .grid__col-xl-8 {
      flex-basis: 33.33333%; }
    .grid__col-xl-offset-8 {
      margin-left: 33.33333%; }
    .grid__col-xl-9 {
      flex-basis: 37.5%; }
    .grid__col-xl-offset-9 {
      margin-left: 37.5%; }
    .grid__col-xl-10 {
      flex-basis: 41.66667%; }
    .grid__col-xl-offset-10 {
      margin-left: 41.66667%; }
    .grid__col-xl-11 {
      flex-basis: 45.83333%; }
    .grid__col-xl-offset-11 {
      margin-left: 45.83333%; }
    .grid__col-xl-12 {
      flex-basis: 50%; }
    .grid__col-xl-offset-12 {
      margin-left: 50%; }
    .grid__col-xl-13 {
      flex-basis: 54.16667%; }
    .grid__col-xl-offset-13 {
      margin-left: 54.16667%; }
    .grid__col-xl-14 {
      flex-basis: 58.33333%; }
    .grid__col-xl-offset-14 {
      margin-left: 58.33333%; }
    .grid__col-xl-15 {
      flex-basis: 62.5%; }
    .grid__col-xl-offset-15 {
      margin-left: 62.5%; }
    .grid__col-xl-16 {
      flex-basis: 66.66667%; }
    .grid__col-xl-offset-16 {
      margin-left: 66.66667%; }
    .grid__col-xl-17 {
      flex-basis: 70.83333%; }
    .grid__col-xl-offset-17 {
      margin-left: 70.83333%; }
    .grid__col-xl-18 {
      flex-basis: 75%; }
    .grid__col-xl-offset-18 {
      margin-left: 75%; }
    .grid__col-xl-19 {
      flex-basis: 79.16667%; }
    .grid__col-xl-offset-19 {
      margin-left: 79.16667%; }
    .grid__col-xl-20 {
      flex-basis: 83.33333%; }
    .grid__col-xl-offset-20 {
      margin-left: 83.33333%; }
    .grid__col-xl-21 {
      flex-basis: 87.5%; }
    .grid__col-xl-offset-21 {
      margin-left: 87.5%; }
    .grid__col-xl-22 {
      flex-basis: 91.66667%; }
    .grid__col-xl-offset-22 {
      margin-left: 91.66667%; }
    .grid__col-xl-23 {
      flex-basis: 95.83333%; }
    .grid__col-xl-offset-23 {
      margin-left: 95.83333%; }
    .grid__col-xl-24 {
      flex-basis: 100%; }
    .grid__col-xl-offset-24 {
      margin-left: 100%; } }

.stack + .stack {
  margin-top: 20px; }

.stack .stack + .stack---10 {
  margin-top: 10px; }

@media only screen and (min-width: 360px) {
  .stack .stack + .stack--xs--10 {
    margin-top: 10px; } }

@media only screen and (min-width: 480px) {
  .stack .stack + .stack--sm--10 {
    margin-top: 10px; } }

@media only screen and (min-width: 768px) {
  .stack .stack + .stack--md--10 {
    margin-top: 10px; } }

@media only screen and (min-width: 1024px) {
  .stack .stack + .stack--lg--10 {
    margin-top: 10px; } }

@media only screen and (min-width: 1600px) {
  .stack .stack + .stack--hg--10 {
    margin-top: 10px; } }

@media only screen and (min-width: 1440px) {
  .stack .stack + .stack--xl--10 {
    margin-top: 10px; } }

html[data-theme=dark] .nav__wrapper a,
html[data-theme=dark] .nav__wrapper button {
  color: var(--text-1); }
  html[data-theme=dark] .nav__wrapper a:hover,
  html[data-theme=dark] .nav__wrapper button:hover {
    color: var(--text-2); }

html[data-theme=light] .nav__wrapper a,
html[data-theme=light] .nav__wrapper button {
  color: var(--surface-1); }
  html[data-theme=light] .nav__wrapper a:hover,
  html[data-theme=light] .nav__wrapper button:hover {
    color: var(--surface-2); }

.nav {
  display: flex;
  text-align: left;
  position: relative;
  left: 0;
  top: 0;
  gap: 15px;
  z-index: 999;
  flex-direction: column;
  background: rgba(169, 169, 169, 0.219);
  align-items: center;
  height: 100%;
  overflow: hidden;
  padding: 1rem; }
  .nav a {
    color: var(--blue-7);
    text-decoration: none;
    transition: color .3s ease-in-out;
    min-height: 50px;
    border-radius: var(--radius-3);
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px; }
    .nav a:hover {
      color: var(--blue-6); }
  @media only screen and (min-width: 768px) {
    .nav__icon {
      max-width: 20px;
      margin-right: 5px; } }
  .nav__name {
    display: none; }
    @media only screen and (min-width: 768px) {
      .nav__name {
        display: block; } }
  .nav .router-link-active {
    background: rgba(163, 163, 163, 0.207); }
  .nav__bottom {
    margin-top: auto; }
  .nav__wrapper {
    max-width: 80px;
    width: 100%;
    position: absolute; }
    @media only screen and (min-width: 768px) {
      .nav__wrapper {
        width: 150px;
        max-width: none; } }

.main {
  position: relative;
  min-height: 100vh;
  grid-template-areas: " content" " content" " footer";
  display: grid;
  overflow-x: hidden; }

.content {
  grid-area: content;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 80vh; }

.footer {
  grid-area: footer; }

.nav__wrapper {
  grid-area: menu; }

body {
  transition: background-image 10s ease-in-out; }

[data-theme=dark] {
  color-scheme: dark;
  --footer-text: var(--stone-2); }
  [data-theme=dark] p,
  [data-theme=dark] h1,
  [data-theme=dark] h2,
  [data-theme=dark] h3,
  [data-theme=dark] h4,
  [data-theme=dark] h5,
  [data-theme=dark] h6 {
    color: var(--footer-text); }
  [data-theme=dark] body {
    background-image: var(--gradient-23); }
    [data-theme=dark] body .question-box.btn--answered {
      background: var(--green-9); }
    [data-theme=dark] body .question-box.active {
      background: var(--indigo-7); }
    [data-theme=dark] body .btn--navigation {
      color: var(--footer-text); }

[data-theme=light] {
  color-scheme: light;
  --footer-text: var(--surface-1); }
  [data-theme=light] body {
    background-image: var(--gradient-9); }
    [data-theme=light] body p,
    [data-theme=light] body h1,
    [data-theme=light] body h2,
    [data-theme=light] body h3,
    [data-theme=light] body h4,
    [data-theme=light] body h5,
    [data-theme=light] body h6 {
      color: var(--footer-text); }
    [data-theme=light] body .question-box {
      background: var(--surface-1); }
      [data-theme=light] body .question-box.btn--answered {
        background: var(--green-9); }
      [data-theme=light] body .question-box.active {
        background: var(--indigo-7); }
    [data-theme=light] body .btn--navigation {
      color: var(--surface-1); }
