[data-theme=dark] {
    .card {
        background-color: rgba(169, 169, 169, 0.219);
    }
}

[data-theme=light] {
    .card {
        background-color: #2b304ab5;
    }
}

.card {
    border-radius: var(--radius-2);
    padding: var(--size-fluid-3);
    box-shadow: var(--shadow-2);
    position: relative;

    transition: .3s var(--ease-elastic-5);

    &:hover {
        box-shadow: var(--shadow-3);
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: white;
    }

    &--animated {
        animation: var(--animation-scale-down) reverse, var(--animation-fade-out) reverse;
        animation-timing-function: var(--ease-squish-5);
        animation-duration: 1s;
    }

    &__title {
        text-align: center;
        font-size: var(--font-size-fluid-1);
        font-weight: bold;
    }

}